<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/view-css/me-css/me.css" rel="stylesheet" />
		
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		
	</head>

	<body>
		
		<div class="mui-content">
		
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<a id="link_face" href="javascript:;">
						<span class="mui-pull-right mui-icon mui-icon-arrowright face-span"></span>
						<img id="img_face" class="mui-media-object mui-pull-right" src="../../images/face/default.png">
						<div class="mui-media-body face-title">
							头像
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a id="link_nickname" href="javascript:;">
						<span class="mui-pull-right mui-icon mui-icon-arrowright nickname-span"></span>
						<span id="span_nickname" class="mui-pull-right nickname-text"></span>
						<div class="mui-media-body">
							昵称
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<span id="span_username" class="mui-pull-right account-text"></span>
						<div class="mui-media-body">
							账号
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a id="link_qrcode" href="javascript:;">
						<span class="mui-pull-right mui-icon mui-icon-arrowright qrcode-span"></span>
						<img class="mui-media-object mui-pull-right qrcode-img" src="../../images/icon/qrcode.png">
						<div class="mui-media-body qrcode-title">
							我的二维码
						</div>
					</a>
				</li>
			</ul>
		
			<br />
			
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media logout">
					<a id="link_logout" href="javascript:;">
						<div class="mui-media-body">
							退出登录
						</div>
					</a>
				</li>
			</ul>
		
		</div>
		
		
	</body>
	<script src="../../js/app.js"></script>
	<script type="text/javascript" src="../../js/view-js/me-js/me.js"> </script>
</html>