<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/view-css/index.css" />
		<link rel="stylesheet" type="text/css" href="../../css/view-css/discover-css/addfriends.css" />

	</head>

	<body>

		<header class="mui-bar mui-bar-nav title">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<a id="link_submit_search" class="mui-icon mui-icon-right-nav mui-pull-right "><p class="header-font">搜索</p></a>
			<h1 class="mui-title">添加好友</h1>
		</header>

		<div class="mui-content">
			<div class="mui-input-row">
			    <input id="txt_your_friend_username" 
			    	type="text" class="mui-input-speech mui-input-clear" 
			    	placeholder="搜索朋友">
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/utils/http.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<script type="text/javascript" src="../../js/view-js/discover-js/addfriends.js"></script>

	</body>

</html>